@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-nunito-sans);
  --font-times: var(--font-times-new-roman);
  --font-raleway: var(--font-raleway);
  --font-roboto: "Roboto", sans-serif;
  --font-revalia: var(--font-revalia);
  --font-rammetto-one: var(--font-rammetto-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.diamond-text {
  background:
    linear-gradient(45deg, #ce1919 30%, #ffffff 61%, #ce1919 100%),
    linear-gradient(135deg, #ffffff 28%, #ce1919 52%, #ce1919 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
